:root {
  --constant-screen-width: 60%;
  --fixed-width-others: 40%;
  --constant-screen-display-sm: none;
  --fixed-width-others-sm: 100%;
  --margin-others-left-sm: 0;
  --font-color: #fff;
  --color-white: #fff;
  --background-color-black: #000;
  --background-color-others: rgb(17, 16, 16);
  --daba-font-color: rgb(214, 46, 46);
}

.constant__screen {
  width: var(--constant-screen-width);
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background-color-black);
}

/* 
.App {
  display: flex;
  background: #fff;
  width: 100vw;
  overflow: hidden;
} */

.width__others {
  width: var(--fixed-width-others);
  background-color: var(--background-color-others);
  margin-left: 60%;
  padding-top: 4rem;
  padding-right: 4rem;
  padding-left: 4rem;
}

/*** Link styling ****/
.link {
  color: var(--daba-font-color) !important;
  text-decoration: none;
}

/*** close button ****/
.close-btn {
  color: var(--color-white);
  font-size: 25px;
  font-weight: 600;
}

@media screen and (max-width: 780px) {
  .constant__screen {
    display: var(--constant-screen-display-sm);
  }

  .width__others {
    margin-left: var(--margin-others-left-sm);
    width: var(--fixed-width-others-sm);
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

/***** login and register form styling *****/
.label {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 8px;
}

.form-control {
  background: transparent !important;
  color: var(--color-white) !important;
  padding: 11px !important;
}

.form-control::placeholder {
  color: var(--color-white) !important;
}

.form-control:focus {
  border: none;
}

.btn-gen {
  background-color: var(--daba-font-color) !important;
  border-radius: 30px !important;
  width: 100%;
  color: var(--color-white) !important;
  padding: 11px !important;
  font-weight: 500 !important;
  margin-top: 20px;
}

.show__ct {
  position: relative;
}

.showHide {
  position: absolute;
  margin-top: -38px;
  margin-left: 20rem;
  color: var(--daba-font-color);
  z-index: 2;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .showHide {
    margin-left: 75%;
    margin-top: -35px;
  }
}
